<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products && products.length> 0) {%>
                    <ul>
                        <% products.forEach(product=> { %>
                            <li>
                                <p>
                                    <%= product.title%>
                                        (<%= product.quantity%>)
                                </p>
                                <form action="/cart-delete-item" method="POST">
                                    <input name="productId" value="<%= product._id%>" hidden />
                                    <button class="btn" type="submit">Delete</button>
                                </form>

                            </li>
                            <% })%>
                    </ul>
                    <form action="/create-order" method="POST">
                        <button class="btn" type="submit">Order Now!</button>
                    </form>
                    <% } else {%>
                        <h1>No products in cart!</h1>
                        <% }%>
            </main>
            <%- include('../includes/end.ejs') %>