<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.items.length <=0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul>
                            <% orders.items.forEach(item=> { %>
                                <li>
                                    <h1># <%= item._id %>
                                    </h1>
                                    <ul>
                                        <li>
                                            <%= item.title %> (<%= item.quantity %>)
                                        </li>
                                    </ul>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>